{
  "app": "",
  "database": "",
  "jwt_secret": "",
  "gitlab_token": "",
  "gitlab_webhook_secret": "",
  "sentry_dsn": "",
  "sentry_js_dsn": "",
  "sentry_secret": "",
  "sentry_webhook_secret": "",
  "webhook_secret": ""
}
