@import 'colors';
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Add custom Bootstrap Vue styles
@import '~bootstrap-vue/src/index';

body {
  background-color: $dark;
}

.container {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.content {
  padding: .5rem;
  background-color: $white;
}

@import './interaction/transitions';
