@import 'colors';
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Add custom Bootstrap Vue styles
@import '~bootstrap-vue/src/index';

body {
  background-color: $dark;
}

.container {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.content {
  padding: 0;
}

.card ~ .card {
  margin-top: map_get($spacers, 3);
}

@import './interaction/mouse';
@import './interaction/transitions';
