@import 'colors';
@import 'variables';
@import '~bootstrap/scss/reboot';

body {
  background-color: $dark;
}

$fa-css-prefix: fa;
@import '~@fortawesome/fontawesome-free/scss/animated';

.init-loader {
  color: #ffffff;
  padding-top: 2rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .loader-icon {
    font-size: 6rem;
    width: 1em;
  }

  .loader-text {
    font-size: larger;
    margin-top: 0.5rem;
    text-transform: uppercase;
  }
}
